<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimeBetweenGenerationsInMilliseconds" value="200"/>
    <add key="DefaultAliveColour" value="Pink"/>
    <add key="DefaultDeadColour" value="Black"/>
    <add key="MaxGeneration" value="1000"/>
  </appSettings>
</configuration>